$color: rgb(112, 111, 111);
$font-family: 'arsenal', sans-serif;

body {
    background-image: url(../Imagenes/fondopagina.jpg);
    background-size: cover;
}

.header {
    position: sticky;
    top: 0px;
    background-color: rgb(240, 240, 240);
    display: flex;
    z-index: 1000;
    text-decoration: none;
    flex-wrap: wrap;


    h1 {
        font-size: 30px;
    }

    .nav {
        ul {
            display: flex;
            align-items: center;
            margin-left: 200px;
            justify-content: center;

            li {
                margin-right: 20px;
                justify-content: space-between;
                list-style-type: none;
                font-size: 20px;
                margin-left: 50px;

                a {
                    text-decoration: none;
                    color: rgb(112, 111, 111);
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                }
            }
        }
    }
}



h1 {
    color: $color;
    font-size: 25px;
    font-family: $font-family;
    display: inline;
}

.parrafo1 {
    background-color: rgb(214, 223, 201);
}

.encabezadoppal {
    color: rgb(160, 130, 100);
}

h3 {
    color: rgb(102, 148, 108);
    font-family: $font-family;
}

h2 {
    @extend h3;
    position:relative;
    left: 200px;
}

p {
    font-family: 'Architects Daughter', cursive;

}



.imgdestacadas {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;

    img {
        width: 250px;
        height: 250px;
        border-radius: 10%;
        box-shadow: 5px 5px 20px black;
        transition: 2s;

        &:hover {
            width: 500px;
            height: 500px;
            border-radius: 100%;
            box-shadow: 5px 5px 50px black;
            transition: 2s;
        }
    }
}



.carousel.slide#carouselExampleInterval {
    width: 800px;
    justify-content: flex-start;
    margin-top: 100px;
    position: relative;
    margin-left: 300px;
    margin-bottom: 100px;
}

.wsp-logo-index {
    position: fixed;
    right: 15px;
    bottom: 35px;
    width: 80px;
}


//medias querys//
@media only screen and (max-width: 500px) {

    .logo {
        display: flex;
        margin-left: 150px;
        position: relative;
        left: 170px;

        img {
            width: 300px;
        }
    }

    .header {
        position: initial;
        width: 1000px;
        margin-left: -30px;




        ul {
            margin: 0;
            flex-wrap: wrap;
            justify-content: center;
            position: relative;
            right: 130px;



            li {
                margin-right: 20px;
                list-style-type: none;
                font-size: 20px;


            }

            a {
                padding-inline: 80px;
                font-size: 60px;
                white-space: nowrap;
                
               
            }
        }

        h1 {
            position: initial;
            display: block;
            margin-left: 250px;
            font-size: 80px;
            margin-bottom: 50px;
        }
    }

    body {
        main {
            h2 {
                position: relative;
                left: 80px;
                white-space: nowrap;
                font-size: 50px;
                margin-bottom: 100px;
                margin-top: 100px;
            }
        }
    }



    .carousel.slide#carouselExampleInterval {
        width: 750px;
        justify-content: flex-start;
        margin-top: 200px;
        position: relative;
        margin-left: 35px;
        margin-bottom: 100px;
    }

    .imgdestacadas {
        margin-top: 30px;
        gap: 20px;
        justify-content: center;

        img {
            width: 350px;
            height: 350px;
            margin-top: 0px;
            margin-left: 450px;
        }
    }

    #carouselExampleInterval {
        width: 300px;
        justify-content: flex-start;
        margin-top: 100px;
        position: relative;
        margin-left: 50px;
    }

    footer{
        .pcopy{
            margin-left: 50px;
        }
    }
    .wsp-logo-index {
        position: fixed;
        right: 150px;
        bottom: 35px;
        width: 100px;

    }
}